html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.details_card {
    display: flex;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 15px 5px;
    border-radius: 10px;
}

#book_movie {
    width: 60%;
    margin-left: 340px;
    margin-top: 70px;
    padding: 20px;
    font-size: 20px;
    font-family: inherit;
    outline: none;
    border: none;
    background-color: #5e60ce;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.details_div {
    margin-left: 30px;
}

.movie_title {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bold;
}

.movie_poster {
    border-radius: 15px;
    margin: 20px;
}

.release_date {
    margin-top: 0;
}

.overview {
    margin-top: 50px;
    font-size: 18px;
}

.ratings_div {
    margin-top: 50px;
    display: flex;
}

span {
    margin: auto 2px;
}

.rating {
    margin: 0 0 0 15px;
    font-size: 30px;
}

.checked {
    color: orange;
}

.input_div {
    display: flex;
    margin-top: 35px;
}

.seat {
    font-size: 20px;
    margin: auto 0;
    margin-right: 25px;
}

.seat_nos {
    width: 250px;
    height: 35px;
    font-size: medium;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 5px;
    padding: 5px 0px 3px 12px;
}