html, body {
    width: 100%;
    height: 100%;
}

section {
    position: fixed;
    left: 100px;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: flex;
}

.movie_card {
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 15px 5px;
    margin: 20px;
}

.movie_card:hover{
    transition: 0.5s ease;
    transform: scale(1.04);
}